* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: red;
    text-align: center;
}

nav {
    background-color: red;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

ul li {
    display: block;
    width: 100%;
}

ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    display: block;
    width: 100%;
    text-align: center;
}