* {
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: red;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

ul li {
    display: block;
    width: 100%;
}

ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    display: block;
    width: 100%;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.wrap {
    display: flex;
    flex-flow: row wrap;
}

.wrap p {
    background-color: skyblue;
    border:  1px dashed white;
    flex: 1;
    padding: 5px;
}

#aside1 {
    background-color: yellow;
    width: 60%;
}

#aside2 {
    background-color: blueviolet;
    width: 60%;
}

footer {
    padding: 20px;
    background-color: lawngreen;
    text-align: center;
}