*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container{
    border: 10px solid black;
    padding: 0;
    margin-top: 60px;
    width: 75%;
    height: 90%;
}


.grid-container{
    display: grid;
    gap: 5px;
    grid-template-areas: 'w1 w2 w2 w2 w2 w2 w2 w3 w3 w3 w3 w3 w3 w4 j1 '
                         'w1 b1 b1 b1 b1 b1 b1 w5 w5 b2 b2 b2 b2 w4 j1 '
                          'w1 b1 b1 b1 b1 b1 b1 w5 w5 b2 b2 b2 b2 w4 j1 '
                          '. w6 w6 . w7 w7 w8 j2  j2 r1  r1 r1 r2 w4 j1 '
                          '. w6 w6 . w7 w7 w8 j2  j2 r1  r1 r1 r2 w4 j1 '
                          '. w6 w6 . w7 w7 w8 j2  j2 r1  r1 r1 r2 w4 j1 '
                          '. w6 w6 . w7 w7 w8 j2  j2 r1  r1 r1 r2 w4 j1 '
                          '. w6 w6 . j3 r3 r3 b3  b3 w9  w9 w9 w10 . . '
                          '. w6 w6 . j3 r3 r3 b3  b3 w9  w9 w9 w10 . . '
                          ' w12 r4 r4 . j5 w13 w13 w13  w13 w14  w14 b4 j4 w11 w11 '
                         ' w12 r4 r4 . j5 w13 w13 w13  w13 w14  w14 b4 j4 w11 w11 '
                         ' w12 r4 r4 . j5 w13 w13 w13  w13 w14 w14 b4 j4 w11 w11 '
                         ' w12 r4 r4 . j5 r5 r5 .  . . . w15 w15 w15 w15 '
                         ' w16 w16 w16 . j5 r5 r5 .  . . . w15 w15 w15 w15 ';
    width: 100%;
    height: 100%;   
    grid-template-rows:repeat( 14, auto);
    grid-template-columns: repeat( 15, 1fr) ;
    background-color: black;
}


.b {
    background-color: blue;
}
.cb1 {
    grid-area: b1;
}
.cb2 {
    grid-area: b2;
}
.cb3 {
    grid-area: b3;
}
.cb4 {
    grid-area: b4;
}



.j {
    background-color: yellow;
}
.cj1 {
    grid-area: j1;
}
.cj2 {
    grid-area: j2;
}
.cj3 {
    grid-area: j3;
}
.cj4 {
    grid-area: j4;
}
.cj5 {
    grid-area: j5;
}



.r {
    background-color: red;
}
.cr1 {
    grid-area: r1;
}
.cr2 {
    grid-area: r2;
}
.cr3 {
    grid-area: r3;
}
.cr4 {
    grid-area: r4;
}
.cr5 {
    grid-area: r5;
}



.w{
    background-color: white;
}
.cw1 {
    grid-area: w1;
}
.cw2 {
    grid-area: w2;
}
.cw3 {
    grid-area: w3;
}
.cw4 {
    grid-area: w4;
}
.cw5 {
    grid-area: w5;
}
.cw6 {
    grid-area: w6;
}
.cw7 {
    grid-area: w7;
}
.cw8 {
    grid-area: w8;
}
.cw9 {
    grid-area: w9;
}
.cw10 {
    grid-area: w10;
}
.cw11 {
    grid-area: w11;
}
.cw12 {
    grid-area: w12;
}
.cw13 {
    grid-area: w13;
}
.cw14 {
    grid-area: w14;
}
.cw15 {
    grid-area: w15;
}
.cw16 {
    grid-area: w16;
}